// out: false

// 这里是一些测试CSS的存放处

// 运行西文在单词处换行
.protyle-wysiwyg [data-node-id] [spellcheck=false] {
    word-wrap: break-word;
    word-break: break-all;
}

.fn__code,
.b3-typography code:not(.hljs),
.b3-typography span[data-type~=code],
.protyle-wysiwyg code:not(.hljs),
.protyle-wysiwyg span[data-type~=code] {
    word-wrap: break-word;
    word-break: break-all;
}

// 调整市集主题的大小
div[data-bazaar="themes"].b3-card {
    width: 262px;
}

div[data-bazaar="templates"].b3-card {
    width: 262px;
}

div[data-bazaar="icons"].b3-card {
    width: 262px;
}

div[data-bazaar="widgets"].b3-card {
    width: 262px;
}

// 当代码块被设置为错误样式时，上边框变为红色。
div[data-type="NodeCodeBlock"][style="color: var(--b3-card-error-color); background-color: var(--b3-card-error-background);"] {
    border-top: 3px solid #e13238;
    border-left: none !important;
}

// 微调设置账号处的刷新按钮
button#refresh{
    padding-right: 4px;
}